@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light;
  }

  .material-symbols-outlined {
    font-family: 'Material Symbols Outlined', sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    font-feature-settings: 'liga';
  }

  html,
  body {
    margin: 0;
    padding: 0;
  }

  body {
    @apply bg-surface font-body text-body-md text-on-surface antialiased;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-heading text-on-surface;
    text-wrap: balance;
  }
}
